@page
@using Hooshmand.Models;
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "داشبورد";
    var currentuser = await UserManager.GetUserAsync(User);
}
<div class="pagetitle">
    <h1>داشبورد</h1>
</div><!-- End Page Title -->
<partial name="_StatusMessage" for="StatusMessage" />

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <h2 class="mb-2">@currentuser.FullName</h2>
                    <h3>@currentuser.Job</h3>
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">مشخصات</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">

                            <h5 class="card-title">اطلاعات کاربری</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">نام و نام خانوادگی</div>
                                <div class="col-lg-9 col-md-8">@currentuser.FullName</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">شغل</div>
                                <div class="col-lg-9 col-md-8">@currentuser.Job</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">آدرس</div>
                                <div class="col-lg-9 col-md-8">@currentuser.Adress</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">شماره تماس</div>
                                <div class="col-lg-9 col-md-8">@currentuser.PhoneNumber</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">ایمیل</div>
                                <div class="col-lg-9 col-md-8">@currentuser.Email</div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>